@media only screen and (max-width: 700px)
{

	.row
	{
		flex-direction: column-reverse;
		margin: 50px 0;
	}

	.col-2
	{
		flex-basis: 100%;
		margin-bottom: 50px;
	}

	.col-2 .controller
	{
		width: 80%;
	}

	li a
	{
		font-size: 2.2vw;
	}

	li
	{
		margin: 1vw;
	}

	.col-1 h2
{
	font-size: 6vw;
}
.col-1 h3
{
	font-size: 5vw;
	margin: 2vh 0 1vh;
}

.col-1 p
{
	font-size: 4vw;
	margin: 3vh 0;
}

.col-1 h4
{
	margin: 3vh 0;
	font-size: 5vw;
}

}
